<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Bowser's Minion Dress-Up</title>
    <link rel="shortcut icon" href="/assets/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
    <nav><a href="/login"><img id="logo" src="/assets/img/navbar-icon.png" alt="bowser logo" /></a>
        <div class="navlink"><a href="/maker">Back to Work</a></div>
    </nav>

    <div id="error-page">
        <img src="/assets/img/bowser-404.png" alt="laughing bowser" id="bowser-error"/>
        <h2>Whoops! You just found a page that doesn't exist, idiot!</h2>
    </div>

</body>

</html>