<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Bowser's Minion Dress-Up</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/navbar-icon.png" alt="bowser logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/viewer">View Your Army</a></div>
    <a href="/settings" title="Chomp Settings"><img id="settings-chomp" src="/assets/img/settings-chomp.png" alt="chain chomp settings"/></a>
  </nav>

  <section id="app">

  </section>
  <div id="error-graphic" class="hidden">
    <img id="dialogue-box" src="/assets/img/dialogue-box.png" alt="dialogue box"/>
    <label id="error-text"></label>
    <img id="error-chomp" src="/assets/img/error-chomp.png" alt="error chain chomp"/>
  </div>
  <script src="/assets/appBundle.js"></script>
</body>
</html>
